#matrix {
  display: grid;
  grid-template-columns: repeat(10, auto);
  margin: 150px;
  margin-top: 100px;
  cursor: pointer;
}

.cell {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}
/* body{
  margin-left: 34%; margin-top: 3%;
  font-size: x-large;
}
#name{
  font-size: large;
}
#start{
  font-size: large;
} */
.selected {
  background-color: green;
}
.wrong {
  background-color: red;
}
